html {
    scroll-behavior: smooth;
}

body{
    /* ff 3.6+ */
    background:-moz-linear-gradient(145deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(145deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(145deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(145deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(145deg, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.section {
    margin-bottom: 100px;
}

.service {
    clip-path: polygon(73% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.aws-btn {
    --button-default-height: 60px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 6px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #232323;
    --button-primary-color-dark: #caab69;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #161616;
    --button-primary-color-active: #141414;
    --button-primary-border: 2px solid #caab69;
    --button-secondary-color: #070707;
    --button-secondary-color-dark: #caab69;
    --button-secondary-color-light: #ffffff;
    --button-secondary-color-hover: #020202;
    --button-secondary-color-active: #000000;
    --button-secondary-border: 2px solid #caab69;
    --button-anchor-color: #232323;
    --button-anchor-color-dark: #892827;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #161616;
    --button-anchor-color-active: #141414;
    --button-anchor-border: 2px solid #892827;
    --button-danger-color: #202020;
    --button-danger-color-dark: #892827;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #161616;
    --button-danger-color-active: #141414;
    --button-danger-border: 2px solid #892827;
}

@media (max-width: 640px) { 
    .section {
        margin-bottom: 50px;
    }
}